backup/
build-*/
cachegrind*
callgrind*
massif*
leela-*
leela_*
leela
leela_test
leela_train
leela_test_label
leela_train_label
*.o
*.d
*.caffemodel
*.solverstate
*.sgf
tools/*.sgf
clop/clop-console
clop/clopgtp
clop/Makefile
clop/*.user
clop/clopgtp-old.dat
clop/clopgtp.log
tools/gomill.*
!tools/gomill.ctl
snapshot_*
